body {
    background-color: black;
    color: #bdc3c7;
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    cursor: none;
}
.center-bolt {
    display: flex;
    height: 300px;
    width: 600px;
    margin: 10% auto;
    background-image: url('img/cloud.png');
    opacity: 0.4;
    background-position: center;
}
.core {
    position:relative;
    margin: auto auto 20%;
    width: 10px;
    height: 10px;
}
.lightning {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    position: absolute;
    transition: opacity 0.1s linear;
}
.hidden {
    opacity: 0;
}
.rain {
    background-image: url('img/rain.png');
    margin: -150px 100px 0 auto;
    height: 1000px;
    width: 700px;
}
.pointer {
    position: absolute;
    background-image: url('img/magnet.png');
    width: 80px;
    height: 80px;
}