body {
    background-color: black;
    color: #bdc3c7;
    min-height: 600px;
    display: flex;
    overflow: hidden;
}
.center-bolt {
    display: flex;
    height: 275px;
    width: 275px;
    border-radius: 100%;
    margin: auto;
    background-image: url('img/main.gif');
    opacity: 0.4;
    background-position: center;
}
.core {
    position:relative;
    margin: auto;
    width: 10px;
    height: 10px;
}
.lightning {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    position: absolute;
    transition: opacity 0.1s linear;
}
.hidden {
    opacity: 0;
}