<head>
  <title>Electricity</title>
</head>

<body>
  {{> bolt}}
</body>

<template name="bolt">
  {{#each pointers}}
    <span class="pointer" style="left: {{x}}px; top: {{y}}px;"></span>
  {{/each}}
  <div class="center-bolt">
    <div class="core">
      <img class="lightning _2 hidden" src="img/2.png">
      <img class="lightning _1 hidden" src="img/1.png">
      <img class="lightning _3 hidden" src="img/3.png">
      <img class="lightning _4 hidden" src="img/4.png">
      <img class="lightning _5 hidden" src="img/5.png">
      <img class="lightning _6 hidden" src="img/6.png">
      <img class="lightning _7 hidden" src="img/7.png">
      <img class="lightning _8 hidden" src="img/8.png">
    </div>
  </div>
  <div class="rain hidden">

  </div>
</template>
